/* css 파일은 <style> 태그 내부라고 생각 */

/* 아이디가 test1인 요소를 선택 */
#test1{
  color : hotpink;  /* 글자색 : hotpink*/
  font-weight: bold;  /* 글자 굵기 : 굵게 */
  font-size : 20px;   /* 글자 크기 : 20px */
}




/* id(#) 선택자 */

#li1 {background-color: #2B8A26;}
#li2 {background-color: #2A51BD;}
#li3 {background-color: #FF763B;}


/* 태그 선택자 */
strong{
  font-size: 18px;
  fon-family: '고딕';
  color : #ec083a;   /* 글자색 */
}

code{
  background-color: #FF763B;  /* 배경색 */
  display: block;
  font-weight: bold;
}

/* class(.) 선택자 */
.class-test1{
  background-color: black;
  color: bisque;
}
.class-test2{
  background-color: yellow;
  color : red;
}


/* 한 요소에 여러 클래스 작성하기 */
.bg-green{background-color: green;}
.font-pink{color: pink;}

/* 웹 폰트 적용 */
@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


/* 모든 요소(*) 선택자 */
* {
  /* 모든 요소 글꼴 변경 */
  font-family: 'PyeongChangPeace-Bold';
}
