*{
  /*
    [box-sizing : border-box;]

    width/height 값이
    content + {padding*2} + (border*2) 값이 되도록
    content 값을 자동으로 계산해 반영하는 설정

    -> 개발자가 생각하는대로 요소 크기를 설정할 수 있게함

  */
  box-sizing: border-box;
}


.box{
  width: 100px;
  height: 100px;
  background-color: bisque;
}

/* border(테두리) 영역 */
.border{
  /* 상하좌우 10px 두께의 실선, 검정색 테두리영역을 설정 */
  border : 10px solid black;
}


/* content(내용) 영역 */
.content{
  width: 150px;
  height: 150px;

  /* width/height 설정 값이
  content 영역에만 적용되게 설정 */
  box-sizing: content-box;
}


/* padding(채우기) 영역 */
.padding{
  width: 200px;
  height: 200px;

  /* 상하좌우 content ~ border 
    사이에 20px 만큼 채움(띄움) */
  padding: 20px;
}

/* margin(여백, 다른 요소와의 간격) */
.margin-1{
  /* 상하좌우 다른 요소와 50px 만큼의 간격을 줌 */
  margin: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margin-2{
  /* 상하좌우 다른 요소와 100px 만큼의 간격을 줌 */
  margin: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 방향성 확인하기 */
.test1{
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;

  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 120px;

  /* 
    solid  : 실선
    dotted : .점선
    dashed : - 점선
    double : 이중 실선
  */
  border-top: 5px solid red;
  border-bottom: dotted;
  border-left: 10px dashed blue;
  border-right: 3px double purple;
}



/* 크기 한 번에 지정하기 */
.test2{
  padding: 10px 20px 30px 40px;
  border-width: 5px 10px 15px 20px;
  margin : 50px 75px 100px 125px;
}

/* magin : auto 테스트 */
.container{
  width:300px;
  height: 300px;
  border: 3px solid black;
}

.test3{
  margin: auto;
  margin-top: 97.333px;
}

/* .test3 > span{
  margin : auto;
} */

/* 글자/inline 요소 가운데 정렬은
   감싸고 있는 요소에 text-align 속성을
   추가해야 한다
*/
.test3{
  text-align: center;
}


